:root {
  --primary: #f7f3e1;
  --secondary: #fffdd0;
  --tertiary: #cccaa6;
  --lighter-dark: #86CEFA;
  --light-dark: #00004b;
  --dark: #00001c;
  --border-radius: 0.3rem;
}


/* body selectors ------------------------------------- */
body {
  margin: 0;
  font-family: 'Lilita One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

/* header selectors ------------------------------------- */
#header {
  background-color: var(--dark);
  color: var(--primary);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../public/dark-blue-ornament.png);
  background-repeat: no-repeat;
  background-size: cover; 
}

header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: var(--light-dark);
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 0.1px var(--lighter-dark);

}

/* nav selectors ------------------------------------- */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav ul li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'lilita one', cursive;
  color: var(--lighter-dark);
}

/* footer selectors ------------------------------------- */

footer{
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}